@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
  background-color: #ffffff;
  color: #404040;
}
input[type="file"] {
  background-color: transparent;
  border: none;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  color: #00000000;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 25px;
  box-shadow: 2px 2px 10px #00000038;
  z-index: 45;
}
input[type="file"]::-webkit-file-upload-button {
  border: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: none;
}
input[type="file"]::before {
  content: "+";
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: block;
  opacity: 1;
  height: 60px;
  width: 60px;
  font-size: 1.6rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17ac7a;
  cursor: pointer;
  transition: background 0.4s ease, box-shadow 0.4s ease;
}
input[type="file"]:hover::before {
  background-color: #10855e;
}
input[type="file"]:active {
  box-shadow: 0 0 10px #0000001e;
  transform: translateY(3px);
  transition: all 0s;
}
.content {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
}
a {
  color: #17ac7a;
  text-decoration: none;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #db4040;
  background: linear-gradient(to right top, #db4040c0, #911762),
    url("https://pixelclerks.com/pics/550-2EXfVq1535745486.jpg") center/cover
      no-repeat;
  padding: 30px;
  border-radius: 3px;
  overflow: hidden;
}
.actions {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.actions a {
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1rem;
}

.actions a i {
  font-size: 1.5rem;
}
.row h3 {
  text-align: center;
  color: #ffffff;
}
